---
import Layout from "../../layouts/Layout.astro";
import Cart from "../../components/Cart";
import Products from "../../components/Products";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

import type { ProductPage } from "../../types/ProductPage";

export async function getStaticPaths() {
  const productPages: ProductPage[] = await (
    await fetch(`https://api.brickoram.com/v1/products`)
  ).json();

  return productPages.map((productPage) => ({
    params: { productPage: productPage.id.toString() },
  }));
}

const { productPage } = Astro.params;

// Fetch the data for this product page
const product: ProductPage = await (
  await fetch(`https://fakestoreapi.com/products/${productPage}`)
).json();
---

<Layout title="Your Page Title" description="Your Page Description" image="path/to/your/image.jpg" canonicalUrl="https://example.com" type="website">
  <div class="w-full">
    <Header />
    <main class="mx-auto max-w-7xl px-6">
        <nav aria-label="Breadcrumb">
            <ol class="flex space-x-2 py-6">
                <li><a href="/" class="hover:underline">Brickoram</a></li>
                <span>/</span>
                <li><a href="/category" class="hover:underline">Category</a></li>
                <span>/</span>
                <li><a href="/product" class="text-gray-600">Basic Tee 6-Pack</a></li>
            </ol>
        </nav>

        <div class="grid grid-cols-2 space-x-12">
            <div>
                <img src={product.image} alt={product.title} class="rounded-lg border mb-8"/>
            </div>

            <div class="space-y-4">
                <h1 class="text-4xl sticky top-9">{product.title}</h1>

                <div class="inline-flex rounded border ">
                    <button class="w-7 py-1 text-center rounded-s">-</button >
                    <input
                        class="w-8 py-1 text-center outline-none border-x"
                        type="number"
                        min="1"
                    />
                    <button class="w-7 py-1 text-center rounded-e active:bg-gray-100">+</button>
                </div>

                <div>
                    <button class="bg-custom-red hover:bg-custom-red-hover text-white rounded px-8 py-1 text-lg">Add to cart</button>
                    <button class="p-1 rounded border  hover:bg-gray-100">
                        <svg
                            width="26px"
                            height="26px"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                            stroke="#000000"
                            stroke-width="1.5"
                            d="M12 6c-1.8-2.1-4.8-2.74-7.06-.82a5.33 5.33 0 0 0-.8 7.4c1.47 1.89 5.92 5.87 7.38 7.16.17.14.25.21.35.24.08.03.17.03.25 0 .1-.03.18-.1.34-.24 1.46-1.3 5.92-5.27 7.39-7.16a5.3 5.3 0 0 0-.8-7.4C16.75 3.28 13.8 3.9 12 6Z"
                            ></path>
                        </svg>
                    </button>
                </div>

                <div>
                    <p>Color: {product.color}</p>
                    <p>Variation: {product.variation}</p>
                    <p>Price: {product.price}</p>
                    <p>Sale Price: {product.salePrice}</p>
                    <p>Stock: {product.stock}</p>
                    <p>Message: {product.message}</p>
                    <p>Reviews: {product.reviews}</p>
                </div>
            </div>
        </div>

        <Products client:load />
		
    </main>
    <Footer />
  </div>
  <Cart client:load />
</Layout>